h1{
    /*display: block;*/
    text-align: center;
    color: black;
    font-family: Geneva, Verdana, cursive;
}

h1 {font-size: 40px;}
h2 {font-size: 25px;}

body {
    color: black;
    font-size: 100%;
    font-style: normal;
    font-family: Geneva, Verdana, sans-serif
}

.playtesting {
    border: double;
    background-color: lightgrey;
    text-align: center;
}
